---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import { client, imageBuilder } from "../lib/sanity-client";
import PortableText from "../components/PortableText.astro";

const { page } = Astro.params;
const query =
  '*[_type == "page" && slug.current == $page][0] {title,body}';
let data = await client.fetch(query, { page });
console.log(data);
---

<BaseLayout pageTitle={data.title}>
  <Navbar />
  <main>
    {data.body.map((section: any) => 
      <section class="w-full h-[75vh]" style={{
        backgroundImage: `url(${imageBuilder.image(section.backgroundImage).url()})`,
        backgroundAttachment: 'fixed',
        backgroundPosition: 'center',
        backgroundRepeat: 'no-repeat',
        backgroundSize: 'cover',
      }}>
        <div class="max-w-[1600px] h-full px-4 md:px-0 mx-auto flex flex-col items-start justify-center">
          <h1 class="text-5xl font-black mix-blend-lighten">{section.heading}</h1>
          <div class="mix-blend-lighten">
            <PortableText value={section.description} />
          </div>
          <div class="">
          </div>
        </div>
      </section>
    )}
  </main>
</BaseLayout>