---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import { client, imageBuilder } from '../lib/sanity-client';
import PortableText from '../components/PortableText.astro';

const query = '*[_type == "profile" && name == "Jesper Førisdahl"][0] {name,bio,image}';
let data = await client.fetch(query);
---

<BaseLayout>
  <Navbar />
  <main class="max-w-[1600px] mx-auto">
    <div class="flex flex-col md:flex-row justify-between">
      <div class="p-8">
        <PortableText value={data.bio}/>
      </div>
      <picture class="rounded p-8 w-full md:pt-16 md:w-[600px]">
        <img class="rounded" src={imageBuilder.image(data.image).width(600).url()} width="600px" alt={data.image.alt}/>
        <figcaption>{data.image.caption}</figcaption>
      </picture>
    </div>
  </main>
</BaseLayout>
