---

---

<nav class="flex flex-row w-full max-w-[1600px] mx-auto my-4 p-4 bg-slate-800 rounded-lg">
  <a href="/">
    <div class="block py-2 px-3 border-2 border-solid rounded-full border-slate-200 text-slate-200 shadow hover:shadow-xl">
      JF
    </div>
  </a>
</nav>