---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Navbar from '../../components/Navbar.astro';
import { client } from '../../lib/sanity-client';

const { projectSlug } = Astro.params;
const project = await client.fetch('*[_type == "project" && slug.current == $projectSlug][0]', {projectSlug});
---

<BaseLayout>
  <Navbar />
  <main class="max-w-[1600px] mx-auto">
    <h1>{project.title}</h1>
  </main>
</BaseLayout>