---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Navbar from '../../components/Navbar.astro';
import { client, imageBuilder } from '../../lib/sanity-client';

const projects = await client.fetch('*[_type == "project"]{title, slug, mainImage}');
---

<BaseLayout>
  <Navbar />
  <main class="max-w-[1600px] mx-auto">
    <div class="grid grid-cols-4 grid-auto-rows gap-2">
      {
        projects.map((project: any) => (
          <div class="flex flex-col p-4 rounded shadow hover:shadow-xl bg-slate-800">
            <a href={`/projects/${project.slug.current}`}>
              <figure class="center p-1 mb-4 bg-slate-400 rounded">
                <img
                  class="w-full h-full"
                  src={imageBuilder
                    .image(project.mainImage)
                    .width(300)
                    .url()}
                  width="300"
                  height="200"
                  alt={project.mainImage.alt}
                />
              </figure>
              <h2 class="text-2xl">{project.title}</h2>
            </a>
          </div>
        ))
      }
    </div>
  </main>
</BaseLayout>