---
import type { BlockProps } from "astro-portabletext/components";

export type Props = BlockProps;

const { node, index, isInline, ...attrs } = Astro.props;
const styleIs = (style: string) => style === node.style;
---

{
  styleIs("h1") ? (
    <h1 class="text-9xl my-3 font-black" {...attrs}><slot /></h1>
  ) : styleIs("h2") ? (
    <h2 class="text-8xl my-3 font-black"{...attrs}><slot /></h2>
  ) : styleIs("h3") ? (
    <h3 class="text-7xl my-3 font-black"{...attrs}><slot /></h3>
  ) : styleIs("h4") ? (
    <h4 class="text-6xl my-3 font-black"{...attrs}><slot /></h4>
  ) : styleIs("h5") ? (
    <h5 class="text-5xl my-3 font-black"{...attrs}><slot /></h5>
  ) : styleIs("h6") ? (
    <h6 class="text-3xl my-3 font-black"{...attrs}><slot /></h6>
  ) : styleIs("blockquote") ? (
    <blockquote {...attrs}><slot /></blockquote>
  ) : styleIs("normal") ? (
    <p class="text-2xl my-3 font-black tracking-wider" {...attrs}><slot /></p>
  ) : (
    <span>Unknown block</span>
  )
}