---
import { client } from '../lib/sanity-client';

const query = '*[_type == "settings"][0]';
let settings = await client.fetch(query);
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <script defer src="https://cdn.counter.dev/script.js" data-id="8c2b0e6f-a6e7-4302-a0ec-e85092f26d4a" data-utcoffset="2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>{settings.title}</title>
    <meta name="description" content={settings.description} >
    <meta name="keywords" content={settings.keywords.join(', ')}>
    <meta name="author" content="Jesper Førisdahl">
    <style>
      @-ms-viewport{
        width: device-width;
      }
    </style>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="c35cbe87-9f7c-47bb-8218-8e0e079372d4";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  </head>
  
  <body class="bg-gray-900 text-slate-200">
    <slot></slot>
  </body>
</html>